
*{
    font-family: Arial, Helvetica, sans-serif;
}
* {
   padding: 0;margin: 0;
  }
  /* ads part  */
  #product-ads{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: grid;
    grid-template-columns: 38% 60%;
    gap:20px;
    height: 400px;
    margin-bottom: 5px;
  }
  #product-ads div img{
    width: 15px;
  }
  #product-ads> div >div{
    padding: 10px;
  }
  #video{
    width: 100%;
    border-radius: 7px;
  }
  #product-ads div button{
    padding: 5px;
    border-radius: 5px;
  }
  
  #product-ads>div:first-child{
    display: flex;
    align-items: center;
  }
  #product-ads>div:last-child{
    display: flex;
    align-items: center;
  }

  /* filter part  */
  #filterDiv{
    padding: 7px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  #filterDiv > div{
    display: grid;
    grid-template-columns: repeat(15,1fr);
    gap: 5px;
  }
  #filterDiv > div img{
    border-radius: 3px;
    
    /* border: 1px solid blue; */
  }
  #filterDiv > div p{
    font-size: 65%;
    text-align: center;
  }

  #footer{
    display: grid;
    grid-template-columns: 60% 40%;
  }
  /* product part  */
  #product{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
    
  /* discount banner  */
  #discount-banner{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding-top: 50px;
    padding-left: 70px;
    /* position: sticky;
    top: 0; */
    position: sticky;
    float: right;
  }
  #discount-banner div{
    border-radius: 7px;
    width: 80%;
    background-color:rgb(182, 175, 175);
    padding: 15px;
    height: 27px;
    margin: 12px;
  }
  #discount-banner img{
    width: 15px;
    margin-right: 10px;
  }

   /* append div styling  */
   .seperate{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 25px;
   }
   .seperate > div:first-child{
    width: 70%;
    /* border: 2px solid red; */
   }
   .seperate > div:last-child{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    width: 30%;
    /* border: 2px solid rgb(47, 0, 255); */
   }
   .add-btn{
    display: block;
    margin: auto;
    background-color: rgb(154, 154, 243);
    padding: 10px;
    border: 0;
    width: 70px;
    border-radius: 7px;
   }
   .seperate > div:last-child img{
    width: 100%;
    border-radius: 7px;
   }
   #cart-btn{
    width: 50%;
    display: block;
    margin: auto;
    border: 0;
    border-radius: 7px;
    padding: 15px;
    background-color: rgb(115, 222, 226);
   }
   a{
    text-decoration: none;
   }

